/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/hybridassembly TEST config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input/output options
    input                      = './test_data/samplesheet.test.csv'
    outdir                     = './test_data/results'

    // References
    fasta                      = './test_data/chm13v2.0.chr22.fa'
    genome                     = null
    igenomes_ignore            = true

    // FiltLong options (target_bases = 3Gb * 30x = 90Gb)
    filtlong_min_length        = 1000
    filtlong_keep_percent      = 90
    filtlong_length_weight     = 0.5
    filtlong_genome_size       = 250000
    filtlong_cov_min           = 30
    filtlong_target_bases      = (params.filtlong_genome_size * params.filtlong_cov_min)

    // Ratatosk options
    ratatosk_cores             = 64

    // Flye options
    flye_mode                  = '--nano-corr'
    flye_genome_size           = '3.2g'
    flye_iterations            = 2

    // Picard options
    picard_sort_order          = 'coordinate'

    // Pilon options
    pilon_max_mem              = '1024G'
    pilon_mode                 = 'frags'

    // TGS-GapCloser options
    tgs_gapcloser_threads      = '32'
    tgs_gapcloser_minmap       = '-x map-ont -K 80M'
    tgs_gapcloser_type         = 'ont'

    // BUSCO options
    busco_mode                 = 'genome'
    busco_lineage              = 'primates_odb10'

    // MERQURY options
    meryl_kvalue               = 21

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    monochromeLogs             = false
    hook_url                   = null
    help                       = false
    version                    = false

    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '1800.GB'
    max_cpus                   = 64
    max_time                   = '1000.h'

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = 'genomes,igenomes_base'
    validationShowHiddenParams       = false
    validate_params                  = true

}
